:root {
    --primary-color: #076678;
    --secondary-color: #b57614;
    --secondary-light: #c88a2e;
    --secondary-dark: #9e620f;
    --background-color: #fbf1c7;
    --text-color: #3c3836;
    --sidebar-color: #689d6a;
    --main-content-color: #d7c996;
    --card-color: #d5c4a1;
    --text-background-color: #ebdbb2;
    --shadow-color-start: rgba(0, 0, 0, 0.2);
    --shadow-color-end: rgba(0, 0, 0, 0.3);
    --shadow-color-special: rgba(0, 0, 0, 0.675);
    /*dark mode*/
    --dark-primary-color: #609ea0;
    --dark-secondary-color: #d79921;
    --dark-secondary-light: #fabd2f;
    --dark-secondary-dark: #b57614;
    --dark-background-color: #282828;
    --dark-text-color: #ebdbb2;
    --dark-sidebar-color: #39483d;
    --dark-main-content-color: #504945;
    --dark-card-color: #3c3836;
    --dark-text-background-color: #504945;
    --dark-shadow-color-start: rgba(114, 113, 120, 0.2);
    --dark-shadow-color-end: rgba(165, 165, 176, 0.308);
    --dark-shadow-color-special: rgba(120, 122, 127, 0.721);
    /* Courtesy of jamiewilsonict https://codepen.io/jamiewilsonict/pen/LYKGjdby */
    --sun-color: #fabc1c;
    --moon-color: #fffdf2;
    --day-bg-color: #0dbdf6;
    --night-bg-color: #272a30;
    --cloud-color: #fffdf2;
    --star-color: #fffdf2;
}

/* Courtesy of jamiewilsonict https://codepen.io/jamiewilsonict/pen/LYKGjdby */
.theme-switcher-grid {
    display: grid;
    grid-template-columns: repeat(54, 1px);
    grid-template-rows: repeat(24, 1px);
    gap: 0;
    position: relative;
    background-color: var(--day-bg-color);
    border-radius: 10px;
    border: 3px solid var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.8s ease, border-color 0.8s ease;
    appearance: none;
    padding: 0;
    box-shadow: 0 1px 5px var(--shadow-color-start), 0 2px 10px var(--shadow-color-end);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.theme-switcher-grid:hover {
    box-shadow: 0 2px 10px var(--shadow-color-start), 0 4px 20px var(--secondary-color);
    transform: scale(1.05);
}

.theme-switcher-grid.night-theme {
    background-color: var(--night-bg-color);
    border-color: var(--secondary-color);
}

.sun {
    background-color: var(--sun-color);
    grid-column: 3 / 23;
    grid-row: 3 / 23;
    border-radius: 50%;
    transition: grid-column 0.8s ease, background-color 0.8s ease;
    height: 20px;
}

.theme-switcher-grid.night-theme .sun {
    grid-column: 33 / 53;
    background-color: var(--moon-color);
}

.moon-overlay {
    position: absolute;
    border-radius: 50%;
    transition: left 0.8s ease, background-color 0.8s ease;
    z-index: 1;
    background-color: var(--day-bg-color);
}

.theme-switcher-grid.night-theme .moon-overlay {
    display: block;
    left: calc(28 / 54 * 100%);
    top: calc(4 / 29 * 100%);
    width: 18px;
    height: 18px;
    background-color: var(--night-bg-color);
}

.cloud-ball {
    background-color: var(--cloud-color);
    border-radius: 50%;
    width: 9px;
    height: 9px;
    position: absolute;
    transition: all 0.8s ease;
    z-index: 2;
}

#ball1 {
    top: calc((8 / 24) * 100%);
    left: calc((12 / 54) * 100%);
}

#ball2 {
    top: calc((8 / 24) * 100%);
    left: calc((17 / 54) * 100%);
}

#ball3 {
    top: calc((8 / 24) * 100%);
    left: calc((22 / 54) * 100%);
}

#ball4 {
    top: calc((6 / 24) * 100%);
    left: calc((17 / 54) * 100%);
}

.theme-switcher-grid.night-theme #ball1 {
    top: calc((16 / 24) * 100%);
    left: calc((16 / 54) * 100%);
    width: 2px;
    height: 2px;
}

.theme-switcher-grid.night-theme #ball2 {
    top: calc((3 / 24) * 100%);
    left: calc((22 / 54) * 100%);
    width: 2px;
    height: 2px;
}

.theme-switcher-grid.night-theme #ball3 {
    top: calc((10 / 24) * 100%);
    left: calc((29 / 54) * 100%);
    width: 2px;
    height: 2px;
}

.theme-switcher-grid.night-theme #ball4 {
    top: calc((5 / 24) * 100%);
    left: calc((34 / 54) * 100%);
    width: 2px;
    height: 2px;
}

.star {
    background-color: var(--star-color);
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease;
}

#star1 {
    top: calc((7 / 24) * 100%);
    left: calc((10 / 54) * 100%);
    border-radius: 50%;
}

#star2 {
    top: calc((9 / 24) * 100%);
    left: calc((16 / 54) * 100%);
    border-radius: 50%;
}

#star3 {
    top: calc((13 / 24) * 100%);
    left: calc((23 / 54) * 100%);
    border-radius: 50%;
}

#star4 {
    top: calc((18 / 24) * 100%);
    left: calc((29 / 54) * 100%);
    border-radius: 50%;
}

.theme-switcher-grid.night-theme #star1,
.theme-switcher-grid.night-theme #star2,
.theme-switcher-grid.night-theme #star3,
.theme-switcher-grid.night-theme #star4 {
    opacity: 1;
}

@media (max-width: 1040) {
    .theme-switcher-grid {
        margin-left: 0;
    }
}

.navbar-container {
    display: flex;
    align-items: center;
    /* This aligns the children vertically in the center */
    justify-content: space-between;
    /* This spreads the children to occupy the full width of the container */
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    /* Ensures content within both navbars is also centered vertically */
}

/* End of theme switcher */
.dark-mode {
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color);
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --sidebar-color: var(--dark-sidebar-color);
    --main-content-color: var(--dark-main-content-color);
    --card-color: var(--dark-card-color);
    --text-background-color: var(--dark-text-background-color);
    --shadow-color-start: var(--dark-shadow-color-start);
    --shadow-color-end: var(--dark-shadow-color-end);
    --shadow-color-special: var(--dark-shadow-color-special);
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    user-select: none;
}

.container {
    display: flex;
    max-width: 1920;
    margin: 0 auto;
    padding: 12px
}

.sidebar {
    flex: 0 0 400px;
    background-color: var(--sidebar-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid var(--secondary-color);
    box-shadow: 0 1px 5px var(--shadow-color-start), 0 2px 10px var(--shadow-color-end);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.sidebar:hover {
    box-shadow: 0 4px 20px var(--secondary-color), 0 8px 40px var(--shadow-color-special);
    transform: scale(1.005);
}

.profile {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.fas,
.fab {
    color: var(--secondary-color);
    font-size: 25px;
    text-shadow: 0 0.1px 2px var(--shadow-color-start);
}

.contact-header .fas,
.education-header .fas,
.languages-header .fas {
    color: var(--text-background-color);
    font-size: 18px;
    margin-right: 5px;
}

.slogan {
    padding: 5px;
    background-color: var(--main-content-color);
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}

.contact,
.education,
.languages {
    padding: 5px;
    background-color: var(--text-background-color);
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    margin-top: 20px;
    color: var(--primary-color);
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}

.main-content {
    flex: 1;
    margin-left: 20px;
}

h2 {
    font-size: 20px;
    color: var(--text-background-color);
    margin-bottom: 20px;
    border: 3px solid var(--primary-color);
    padding: 5px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--secondary-color);
    /* center the text */
    text-align: center;
}

h3 {
    font-size: 16px;
    color: var(--text-color);
}

.expandable-content {
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--primary-color);
    max-height: 100000px;
    box-shadow: 0 1px 5px var(--shadow-color-start), 0 2px 10px var(--shadow-color-end);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.expandable-content:hover {
    box-shadow: 0 4px 20px var(--shadow-color-start), 0 8px 40px var(--shadow-color-special);

    h3 {
        color: var(--secondary-color);
    }

    scale: 1.005;
    cursor: pointer;
}

.expandable-content h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.expandable-content-but-not-really {
    background-color: var(--card-color);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--primary-color);
    max-height: 100000px;
    box-shadow: 0 1px 5px var(--shadow-color-start), 0 2px 10px var(--shadow-color-end);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.expandable-content-but-not-really:hover {
    box-shadow: 0 4px 20px var(--shadow-color-start), 0 8px 40px var(--shadow-color-special);

    h3 {
        color: var(--secondary-color);
    }

    scale: 1.005;
    cursor: default;
}

.expandable-content-but-not-really h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.hidden-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.expand_circle_down {
    transition: transform 0.5s ease-in-out;
}

.expandable-content.expanded .expand_circle_down {
    transform: rotate(-180deg);
}

.hidden-content li {
    margin-left: 20px;
    margin-bottom: 5px;
}

@media (max-width: 1040px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        flex: none;
        margin-bottom: 20px;
    }

    .main-content {
        margin-left: 0;
    }
}

section {
    background-color: var(--main-content-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid var(--primary-color);
    box-shadow: 0 1px 5px var(--shadow-color-start), 0 2px 10px var(--shadow-color-end);
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}

section:hover {
    box-shadow: 0 4px 20px var(--primary-color), 0 8px 40px var(--shadow-color-special);
    transform: scale(1.005);
}

.skills-content {
    padding: 20px;
    background-color: var(--card-color);
    margin-top: 10px;
    border-radius: 8px;
}

.hidden-content .content-container {
    padding: 20px;
    background-color: var(--text-background-color);
    border-radius: 10px;
    margin: 10px 0;
    border: 2px dashed var(--secondary-color);
}

.other-intern {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
    padding: 5px;
}

html {
    overflow-y: scroll;
}

.header {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.education,
.languages,
.contact {
    background-color: var(--main-content-color);
}

.contact-header,
.education-header,
.languages-header {
    padding: 5px;
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-background-color);
    margin-left: 15px;
    margin-right: 15px;
}

.contact-content,
.languages-content,
.education-content {
    color: var(--text-color);
    margin-bottom: 5px;
    text-align: left;
    padding-left: 35px;
    border: 2px dashed var(--secondary-color);
    border-radius: 10px;
    background-color: var(--text-background-color);
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    color: var(--text-color);
    font-size: 16px;
    align-items: center;
    text-align: center;
}

.haha {
    text-align: center;
    display: block;
}

.language-info {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
}

.flag-icon {
    margin-right: 2px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0.1px 2px var(--shadow-color-start) 0 0.2px 4px var(--shadow-color-end);
}

.languages-level {
    font-size: 14px;
    color: var(--secondary-color);
}

.github-note {
    margin-top: 20px;
    font-size: 16px;
    color: var(--text-color);
    transition: all 0.3s ease;
    padding: 10px;
    border-left: 4px solid var(--primary-color);
    background-color: var(--main-content-color);
}

.link,
.linkb {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s ease-in-out, color 0.3s ease;
    padding-bottom: 2px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.link:hover,
.linkb:hover {
    color: var(--secondary-color);
    background-size: 100% 2px;
}

@media (max-width: 1040px) {

    .link,
    .linkb {
        background-image: none;
        border-bottom: 2px solid transparent;
        transition: border-color 0.3s ease-in-out, color 0.3s ease;
    }

    .link:hover,
    .linkb:hover {
        border-bottom-color: currentColor;
    }
}

.skills h4 {
    color: var(--primary-color);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}

.skills h4:first-of-type {
    margin-top: 0;
}

.resume-pdf {
    text-align: center;
    padding-bottom: 119px;
}

.resume-pdf p {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: -90px;
}

.resume-pdf a {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--text-background-color);
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease 0.1s, box-shadow 0.3s ease;
    box-shadow: 0 1px 5px var(--shadow-color-start), 0 2px 10px var(--shadow-color-end);
}

.resume-pdf a:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
    box-shadow: 0 2px 10px var(--shadow-color-end), 0 4px 20px var(--shadow-color-special);
}

@media (max-width: 1040px) {
    .resume-pdf {
        padding-bottom: 100px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sidebar-color);
    border-radius: 10px;
    border: 3px solid var(--secondary-color);
    box-shadow: 0 1px 5px var(--shadow-color-start), 0 2px 10px var(--shadow-color-end);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar:hover {
    box-shadow: 0 4px 20px var(--secondary-color), 0 8px 40px var(--shadow-color-special);
    transform: scale(1.005);
}

@media (max-width: 1040px) {
    .navbar {
        flex-direction: column;
        padding: 20px;
    }
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar {
    align-items: center;
    padding: 10px;
    padding-left: 23px;
}

@media (max-width: 1040px) {
    .navbar {
        display: none;
    }
}